<%= javascript_include_tag ("http://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false") %>
<script type="text/javascript">
    var <%= map_handler%> = <%= map_handler%> || {};

    jQuery(function () {
        var marker = null;
        var circle = null;
        var latlng = new google.maps.LatLng(<%= default_coordinates[0]%>, <%=default_coordinates[1] %>);
        
        var radiusSlider = document.getElementById("radius_slider");
        var radiusField = document.getElementById("radius_field");
        var radius = parseInt(radiusSlider.value)
        var myOptions = {
            zoom: <%=zoom_level %>,
            center:latlng,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("<%=map_container%>"), myOptions);
        <%= map_handler%> = map;



        <% if lat_column_value && lng_column_value%>
        marker = new google.maps.Marker({
            position:new google.maps.LatLng(<%= lat_column_value%>,<%=lng_column_value %>),
            map:map
        }); 
            setCircle(new google.maps.LatLng(<%= lat_column_value%>,<%=lng_column_value %>), radius);
            adjustZoomToRadius(radius);
        <% else%>
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            adjustZoomToRadius(radius);
            } else {
            alert("Geolocation is not supported by this browser.");
            } 
        <% end%>
        
        
        radiusSlider.addEventListener("click", updateRadiusSlider);
        radiusField.addEventListener("change", updateRadiusField);
        google.maps.event.addListener(map, 'zoom_changed', setMapCenter);
        google.maps.event.addListener(map, 'click', function(e) {
            updateLocation(e.latLng);
        });



        function updateRadiusSlider() {
            var value = parseInt(radiusSlider.value);
            radiusField.value = value;
            updateCircleRadius(value);
        }

        function updateRadiusField() {
            var value = parseInt(radiusField.value);
            radiusSlider.value = value;
            updateCircleRadius(value);
        }

        function setMapCenter() {
            map.setCenter(marker.position);
        }

        function setCircle(position, radius) {
            if(circle) {
                circle.setCenter(position);
            } else {
                circle = new google.maps.Circle({
                    center: position,
                    radius: radius,
                    fillColor: "#1ABB9C",
                    fillOpacity: 0.5,
                    strokeOpacity: 0.0,
                    strokeWeight: 0,
                    map: map
                });
            }

        }

        function updateCircleRadius(radius) {
            circle.setRadius(radius);
            adjustZoomToRadius(radius);
        }

        function adjustZoomToRadius(radius){
            radius = radius/1000;
            var zoomLevel = Math.round(14-Math.log(radius)/Math.LN2);
            map.setZoom(zoomLevel);
        }


        function showPosition(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var latLng = new google.maps.LatLng(lat, lng);

            map.setCenter(latLng);
            if(marker) {
                marker.setPosition(latLng);
            } else {
                marker = new google.maps.Marker({
                    position: latLng,
                    map: map
                });
            }
            setCircle(new google.maps.LatLng(lat,lng), radius)
            jQuery("#<%= lat_dom_id%>").val(lat);
            jQuery("#<%= lng_dom_id %>").val(lng);
        }

        function updateLocation(location) {
            if(marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

            map.setCenter(location);
            setCircle(new google.maps.LatLng(location.lat(),location.lng()));
            jQuery("#<%= lat_dom_id%>").val(location.lat());
            jQuery("#<%= lng_dom_id%>").val(location.lng());
        }

    });
</script>
<div class="<%= map_container_class%>" id="<%=map_container%>" style="<%= "width:#{map_width};height:#{map_height}"%>">
</div>

<%= lat_field%>
<%= lng_field%>

